@font-face {
  font-family: 'SF Pro Display';
  src: url('../../assets/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.Content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 35rem;
    height: 35rem;
    border-radius: 16px;
    background: #FDFEFF;
    padding: 24px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.Label {
  color: #ed6d25;
  align-self: center;
  font-family: SF Pro Display;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.2rem;
  line-height: normal;
 }

.inputContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: self-start;
    gap: 1rem;
}

.input {
    outline: none;
    padding: 16px 20px;
    width: 50%;
    border-radius: 5px;
    font-size: 12px;
    background-color: #f0f2f5;
    border: none;
  }

  .relationship {
    outline: none;
    color: rgb(139, 123, 155);
    padding: 5px 5px;
    width: 40%;
    border-radius: 5px;
    font-size: 12px;
    background-color: #f0f2f5;
    border: none;
    align-self: flex-end;
    margin-left: auto;
  }
  
  .button {
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    background-color: #ed6d25;
    color: white;
    font-weight: 600;
    font-size: 16px;
    max-width: 350px;
    transition: all ease 0.5s;
    align-self: center;
  }
  
  .button:hover{
    box-shadow: 0px 4px 10px #ed6d25 ;
  }