 
 
 .button {
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  background-color: #ED2590;
  color: white;
  font-weight: 600;
  font-size: 16px;
  max-width: 350px;
  transition: all ease 0.5s;
}

.button:hover{
  box-shadow: 0px 4px 10px #ED2590 ;
}