@font-face {
    font-family: 'SF Pro Display';
    src: url('../../../assets/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.Content {
    display: grid;
    flex-direction: column;
    width: 35rem;
    height: 40rem;
    border-radius: 16px;
    background: #FDFEFF;
    padding: 1.5rem;
    margin-top: 2rem;
}

.Content h2 {
    color: #4B4B4B;
    font-family: SF Pro Display;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.BioContent {
    width: 33rem;
    border-radius: 10px;
    background: #EFF3F8;
    padding: 0.5rem;
    margin-top: 1.5rem;
}

.BioContent p {
    color: #4B4B4B;
    font-family: SF Pro Display;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Ratings {
    display: flex;
    color: #4B4B4B;
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 32px;
    margin-bottom: 32px;
}

.RatingsGeneric {
    margin-right: 50px;
}

.RatingsGeneric img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-top: 8px;
}

.Fans {
    margin-right: 50px;
}

.Fans img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-top: 8px;
    margin-right: 6px;
    float: left;
}

.FanCount {
    margin-top: 8px;
    float: left;
    color: #4B4B4B;
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    opacity: 0.5;
}


