@font-face {
    font-family: 'SF Pro Display';
    src: url('../../assets/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.Container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.ContainerCard {
    margin-right: 2rem;
}

.ContainerBio {
    margin-right: 2rem;
}

.ContainerFriendsANDCommunities {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.ContainerFriends {
    margin-right: 2rem;
}

.ContainerCommunities {
    margin-right: 2rem;
}