@font-face {
    font-family: 'SF Pro Display';
    src: url('../../../assets/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  .Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
  }
  
  .Content {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #FDFEFF;
    max-width: 350px;
    padding: 48px 24px;
    border-radius: 16px;
  }
  
  .Label {
    color: #ED2590;
    font-family: 'SF Pro Display';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .LabelStep {
    font-size: 16px;
    color: #676767;
  }
  
  .LabelError {
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 14px;
    color: red;
  }
  